body {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #f9f8f7;
}
.container content{
    padding: 0 auto;
}
hr{
    border-color: black;
    margin: 1%;
    border-width: 1px;
}
.box-zero-one{
    margin: 1px;
    width: 85%;
    border-style: solid;
    background-color: #e2e1e0;
    border-color: black;
}
.box-zero-two{
    margin: 1px;
    width: 14.5%;
    border-style: solid;
    background-color: #e2e1e0;
    border-color: black;
}
.box-one{
    margin: 1px;
    width: 60%;
    border-style: solid;
    background-color: #FFD357;
}
.box-two{
    margin: 1px;
    width: 39.5%;
    border-style: solid;
    background-color: #35C795;
}
.box-three{
    margin: 1px;
    width: 39.5%;
    border-style: solid;
    background-color: #F4953D;
}
.box-four{
    margin: 1px;
    width: 60%;
    border-style: solid;
    background-color: #DB5461;
}
.box-five{
    margin: 1px;
    width: 50%;
    border-style: solid;
    background-color: #8B86C4;
}
.box-six{
    margin: 1px;
    width: 49.5%;
    border-style: solid;
    background-color: #ffffff;
}
.box-seven{
    margin: 1px;
    width: 100%;
    border-style: solid;
    background-color: #5a5a5a;
}
.title{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.top {
    margin-top: 10px;
    color: gray;
    font-weight: bold;
    text-align: center;
}
.mid {
    font-weight: bold;
}
.menu {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline-block;
    padding: 1em;
}
.contact {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.contact li {
    display: inline-block;
    padding: 1em;
}
.title {
    margin: 0.5em;
}
#poster-image {
    width: 100%;
}
#profile-image {
    margin: 5%;
    width: 90%;
}
