---
layout: page
---

<div class="post">
  <div>
    {% if page.title %}
    <p class="post_title">{{ page.title }}</p>
    {% endif %}
  </div>
  
  <div>
    {% if page.author %}
    <span class="post_author">{{page.author}}</span>
    {% endif %}
  </div>

  <div>
    {% if page.info %}
    <span class="post_info">{{page.info}}</span>
    {% endif %}
  </div>

  

  <div class="post_content">
    {{ content }}
  </div>


  {% if page.comment %}
  <div class="post_comment">

    {% include disqus.html username = site.disqus.shortname %}
    {% include cusdis.html %}

  </div>
  {% endif %}

</div>
